<h1 class="text center">Do</h1>
<hr>
<h2>Organize your life. Conquer the world.</h2>
<div class= "col-md-4 col-md-offset-4 text-center" id="Rock">
  "If you want to succeed you should strike out on new paths, rather than travel the worn paths of accepted success."
</div>
<br>
<br>
<div class= "col-md-4 col-md-offset-4 text-center" id="Rock">
  - John D. Rockefeller
</div>

<style>
body {
  background-image: url('<%= asset_path('minimalist.jpg') %>');
}

h1 {
  font-size: 40px;
  color: white;
  text-align: center;
}
h2{
  font-size: 32px;
  color: #eaeaea;
  text-align:center;
}
#Rock {
  text-align:center;
  font-size: 18px;
  color: #d3d3d3;
  padding-top: 10px;
}
</style>
