<h1>Hall of Heroes</h1>
<% @users.each_slice(3) do |group| %>
<div class='row'>
<% group.each do |q|  %>
<div class='col-md-4'>
<%= q.name %>  <%= link_to 'View',user_path(q)%></div>
<% end %>
</div>
<% end%>

<style>
body {
  background-image: url('<%= asset_path('valor.jpg') %>');
}
</style>
